<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="carouselTravel">
		<composite:attribute name="offer" type="entries.travel.TravelOffer"
			required="true" />
	</composite:interface>
	<composite:implementation>
		<p:panelGrid style="margin:10px;width:98%;">
			<p:row>
				<p:column colspan="6">
					<p:graphicImage value="/Media?media=#{cc.attrs.offer.image.id}"
						alt="Travel Image" styleClass="image_carosel" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.offer.title}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{language['travels.term']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.offer.startDate}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{language['travels.price']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.offer.minPrice}" />
				</p:column>
				<p:column>
					<p:commandButton value="#{language['travels.see']}"
						action="#{travelBean.openOffer()}" styleClass="floatright">
						<f:setPropertyActionListener value="#{cc.attrs.offer}"
							target="#{travelBean.selectedTravelOffer}" />
					</p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</composite:implementation>
</body>
</html>