<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="clientReview">
		<composite:attribute name="review" type="entries.client.ClientReview"
			required="true" />
	</composite:interface>
	<composite:implementation>

		<p:panelGrid style="width:100%"
			styleClass="center transparent noborder">
			<p:row>
				<p:column colspan="1">
					<p:outputLabel styleClass="person_header"
						value="#{cc.attrs.review.title}" />
					<p:rating value="#{cc.attrs.review.rating}" stars="5"
						cancel="false" readonly="true" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:inputTextarea value="#{cc.attrs.review.rewiew}" readonly="true"
						cols="50" rows="4" />
				</p:column>
			</p:row>
		</p:panelGrid>

	</composite:implementation>
</body>
</html>