<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="smallTravel">
		<composite:attribute name="offer"
			type="entries.travel.ClientTravelCard" required="true" />
	</composite:interface>
	<composite:implementation>

		<p:panelGrid style="width:100%" id="travelCard">
			<p:row>
				<p:column colspan="1" rowspan="4" styleClass="travel_color">
					<p:graphicImage
						value="/Media?media=#{cc.attrs.offer.travelOffer.image.id}"
						alt="Travel Image" width="300" />
				</p:column>
				<p:column colspan="1" styleClass="travel_color">
					<p:outputLabel value="#{cc.attrs.offer.travelOffer.title}"
						style="font-size:1.5em;" />
				</p:column>
				<p:column colspan="1" style="text-align:right;"
					styleClass="travel_color">
					<p:commandButton value="#{language['travels.see']}" process="travelCard"
						action="#{clientTravelBean.openClientOffer()}">
						<f:setPropertyActionListener value="#{offer}"
							target="#{clientTravelBean.selectedClientTravelCard}" />
					</p:commandButton>
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="2" styleClass="travel_color">
					<p:outputLabel value="#{cc.attrs.offer.travelOffer.address.city}" />
				</p:column>

			</p:row>
			<p:row>
				<p:column colspan="2" styleClass="travel_color">
					<p:outputLabel value="#{cc.attrs.offer.planeTicket.departureDate}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="2" styleClass="travel_color">
					<p:outputLabel value="Zapłacono #{cc.attrs.offer.travelCost()}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="4" styleClass="form_separator"></p:column>
			</p:row>
		</p:panelGrid>

	</composite:implementation>
</body>
</html>