<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="travelPerson">
		<composite:attribute name="person" type="entries.client.Person"
			required="true" />
	</composite:interface>
	<composite:implementation>

		<p:panelGrid style="width:100%"
			styleClass="center transparent noborder">
			<p:row>
				<p:column colspan="1">
					<p:outputLabel styleClass="person_header"
						value="#{language['user.name.first']} #{language['user.name.last']}" />
					<br />
					<p:outputLabel styleClass="person"
						value="#{cc.attrs.person.firstName} #{cc.attrs.person.lastName}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.birth.date']}"
						styleClass="person_header" />
					<br />
					<p:outputLabel value="#{cc.attrs.person.dateOfBirth}"
						styleClass="person" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.country']}"
						styleClass="person_header" />
					<br />
					<p:outputLabel value="#{cc.attrs.person.country}"
						styleClass="person" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.place']}"
						styleClass="person_header" />
					<br />
					<p:outputLabel value="#{cc.attrs.person.place}" styleClass="person" />
				</p:column>
			</p:row>
			<p:row rendered="#{not empty cc.attrs.person.street}">
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.street']}"
						styleClass="person_header" />
					<br />
					<p:outputLabel value="#{cc.attrs.person.street}"
						styleClass="person" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.number.house']}"
						styleClass="person_header" />
					<br />
					<p:outputLabel value="#{cc.attrs.person.houseNumber}"
						styleClass="person" />
				</p:column>
			</p:row>
			<p:row rendered="#{not empty cc.attrs.person.apartmentNumber}">
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.number.apartment']}"
						styleClass="person_header" />
					<br />
					<p:outputLabel value="#{cc.attrs.person.apartmentNumber}"
						styleClass="person" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1" styleClass="form_separator">
					<p:outputLabel value="#{language['user.postal.code']}"
						styleClass="person_header" />
					<br />
					<p:outputLabel value="#{cc.attrs.person.postalCode}"
						styleClass="person" />
				</p:column>
			</p:row>
		</p:panelGrid>

	</composite:implementation>
</body>
</html>