<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="smallTravel">
		<composite:attribute name="offer" type="entries.travel.TravelOffer"
			required="true" />
	</composite:interface>
	<composite:implementation>

		<p:panelGrid style="width:90%;" styleClass="center noborder">
			<p:row>
				<p:column colspan="1" rowspan="2" styleClass="travel_color"
					style="padding:0;">
					<p:graphicImage value="/Media?media=#{cc.attrs.offer.image.id}"
						alt="Travel Image" width="300" />
				</p:column>
				<p:column colspan="2" style="text-align:center;"
					styleClass="travel_color">
					<p:outputLabel value="#{cc.attrs.offer.title}" />
				</p:column>
				<p:column colspan="1" styleClass="travel_color"
					style="text-align:right;">
					<p:outputLabel value="#{cc.attrs.offer.minPrice}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1" styleClass="travel_color"
					style="text-align:center;">
					<p:outputLabel value="#{cc.attrs.offer.address.city}" />
				</p:column>
				<p:column colspan="1" styleClass="travel_color"
					style="text-align:center;">
					<p:outputLabel
						value="#{language['travels.term']} #{cc.attrs.offer.startDate}" />
				</p:column>
				<p:column colspan="1" rowspan="1" styleClass="travel_color"
					style="text-align:right;">
					<p:commandButton value="#{language['travels.see']}"
						action="#{travelBean.openOffer()}">
						<f:setPropertyActionListener value="#{cc.attrs.offer}"
							target="#{travelBean.selectedTravelOffer}" />
					</p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>

	</composite:implementation>
</body>
</html>