<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="travelPerson">
		<composite:attribute name="person" type="entries.client.Person"
			required="true" />
	</composite:interface>
	<composite:implementation>

		<p:panelGrid style="width:100%"
			styleClass="center transparent noborder">
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.name.first']}" />
				</p:column>
				<p:column colspan="1">
					<p:message for="firstName" />
					<p:inputText id="firstName" value="#{cc.attrs.person.firstName}"
						required="true"
						requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.name.last']}" />
				</p:column>
				<p:column colspan="1">
					<p:message for="lastName" />
					<p:inputText id="lastName" value="#{cc.attrs.person.lastName}"
						required="true"
						requiredMessage="#{language['page.incorrect_data']}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1" styleClass="form_separator">
					<p:outputLabel value="#{language['user.birth.date']}" />
				</p:column>
				<p:column colspan="1" styleClass="form_separator">
					<p:message for="date" />
					<p:calendar id="date" value="#{cc.attrs.person.dateOfBirth}"
						showOn="button" navigator="true" yearRange="c-90:c"
						required="true"
						requiredMessage="#{language['page.incorrect_data']}"
						converterMessage="#{language['page.incorrect_data']}"></p:calendar>
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.country']}" />
				</p:column>
				<p:column colspan="1">
					<p:message for="country" />
					<p:inputText id="country" value="#{cc.attrs.person.country}"
						required="true"
						requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.place']}" />
				</p:column>
				<p:column colspan="1">
					<p:message for="place"></p:message>
					<p:inputText id="place" value="#{cc.attrs.person.place}"
						required="true"
						requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.street']}" />
				</p:column>
				<p:column colspan="1">
					<p:inputText value="#{cc.attrs.person.street}"></p:inputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.number.house']}" />
				</p:column>
				<p:column colspan="1">
					<p:message for="house" />
					<p:inputText id="house" value="#{cc.attrs.person.houseNumber}"
						required="true"
						validatorMessage="#{language['page.incorrect_data']}"
						requiredMessage="#{language['page.incorrect_data']}">
						<f:validateLongRange minimum="1" />
					</p:inputText>
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['user.number.apartment']}" />
				</p:column>
				<p:column colspan="1">
					<p:inputText value="#{cc.attrs.person.apartmentNumber}"></p:inputText>
				</p:column>
			</p:row>

			<p:row>
				<p:column colspan="1" styleClass="form_separator">
					<p:outputLabel value="#{language['user.postal.code']}" />
				</p:column>
				<p:column colspan="1" styleClass="form_separator">
					<p:message for="code"/>
					<p:inputText id="code" value="#{cc.attrs.person.postalCode}" required="true"
						validatorMessage="#{language['page.incorrect_data']}"
						requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
				</p:column>
			</p:row>
		</p:panelGrid>

	</composite:implementation>
</body>
</html>