<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="administrationUser">
		<composite:attribute name="user"
			type="entries.adminstration.AdministrationUser" required="true" />
	</composite:interface>
	<composite:implementation>

		<p:panelGrid style="margin:10px;">
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['a_user.id']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.user.adminstrationIdentifier}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['a_user.mail']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.user.mail}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['a_user.status']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel id="status"
						value="#{cc.attrs.user.disabled ? language['a_user.status.disable'] : language['a_user.status.active'] }" />
				</p:column>
			</p:row>
			<p:row>

				<p:column colspan="1">
					<p:commandButton value="#{language['page.pass.change']}"
						onclick="PF('pass').show();">
						<f:setPropertyActionListener value="#{cc.attrs.user}"
							target="#{administrationUsersBean.selectedUser}" />
					</p:commandButton>
				</p:column>
				<p:column colspan="1">
					<p:commandButton value="#{language['a_user.disable']}"
						action="#{administrationUsersBean.disableAccount()}"
						update="status">
						<f:setPropertyActionListener value="#{cc.attrs.user}"
							target="#{administrationUsersBean.selectedUser}" />
					</p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
		<p:dialog header="#{language['page.pass']}" widgetVar="pass"
			modal="true" draggable="false" resizable="false">
			<p:panelGrid style="margin:10px;">
				<p:row>
					<p:column colspan="1">
						<p:outputLabel value="#{language['page.pass.new']}" />
					</p:column>
					<p:column colspan="1">
						<p:password value="#{administrationUsersBean.newPassword}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="1">
						<p:outputLabel value="#{language['page.pass.confirm']}" />
					</p:column>
					<p:column colspan="1">
						<p:password value="#{administrationUsersBean.confirmPassword}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="2">
						<p:commandButton value="#{language['page.save']}"
							action="#{administrationUsersBean.changePassword()}"
							onsuccess="PF('pass').hide();" style="float:right;" />
					</p:column>
				</p:row>
			</p:panelGrid>

		</p:dialog>
	</composite:implementation>
</body>
</html>