<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="createdTravel">
		<composite:attribute name="travel" type="entries.travel.TravelOffer"
			required="true" />
		<composite:attribute name="panelId" required="true" />
	</composite:interface>
	<composite:implementation>
		<p:panelGrid style="margin:10px;">
			<p:row>
				<p:column colspan="2">
					<p:outputLabel value="#{cc.attrs.travel.title}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['travels.term']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.travel.startDate}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['travels.place']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.travel.address.city}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="2">
					<p:commandButton value="#{language['page.remove']}"
						action="#{administrationTravelsBean.removeOffer()}"
						update="#{cc.attrs.panelId}" styleClass="floatright">
						<f:setPropertyActionListener value="#{cc.attrs.travel}"
							target="#{administrationTravelsBean.selectedTravel}" />
					</p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>
	</composite:implementation>
</body>
</html>