<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="createdTravelReady">
		<composite:attribute name="travel" type="entries.travel.TravelOffer"
			required="true" />

	</composite:interface>
	<composite:implementation>

		<p:panelGrid id="travelPanel" style="margin:10px;">
			<p:row>
				<p:column colspan="2">
					<p:outputLabel value="#{cc.attrs.travel.title}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['travels.term']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.travel.startDate}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['travels.place']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.travel.address.city}" />
				</p:column>
			</p:row>

			<!-- Row with overlay panel that allow display hotels list  -->
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['hotel.count']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.travel.hotels.size()}" />

					<!-- Open button for overlay panel  -->
					<p:commandButton id="seeBtn" icon="ui-icon-search" type="button"
						styleClass="floatright"
						rendered="#{cc.attrs.travel.hotels.size() gt 0 }" />

					<!-- Overlay panel with hotels data table -->
					<p:overlayPanel for="seeBtn" hideEffect="fade" styleClass="center"
						rendered="#{cc.attrs.travel.hotels.size() gt 0 }">
						<p:dataTable var="hotel" value="#{cc.attrs.travel.hotels}"
							styleClass="center">
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText value="#{hotel.hotel.name}" />
							</p:column>
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText value="#{hotel.hotel.hotelAddress.city}" />
							</p:column>
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText value="#{hotel.hotel.hotelAddress.street}" />
							</p:column>
						</p:dataTable>
					</p:overlayPanel>
				</p:column>
			</p:row>

			<!-- Row with overlay panel that allow display planes list  -->
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['plane.count']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel id="count" value="#{cc.attrs.travel.planes.size()}" />

					<!-- Open button for overlay panel  -->
					<p:commandButton id="planeBtn" icon="ui-icon-search" type="button"
						styleClass="floatright"
						rendered="#{cc.attrs.travel.planes.size() gt 0 }" />

					<!-- Overlay panel with hotels data table -->
					<p:overlayPanel for="planeBtn" hideEffect="fade"
						styleClass="center"
						rendered="#{cc.attrs.travel.planes.size() gt 0 }">

						<p:dataTable var="plane" value="#{cc.attrs.travel.planes}"
							styleClass="center">
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText value="#{plane.airlines.name}" />
							</p:column>
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText
									value="#{plane.departureAirport.address.city} - #{plane.targetAirport.address.city}" />
							</p:column>
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText
									value="#{plane.departureDate} - #{plane.returnDate}" />
							</p:column>
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText value="#{plane.ticketCount}" />
							</p:column>
						</p:dataTable>
					</p:overlayPanel>
				</p:column>
			</p:row>

			<p:row>

				<p:column colspan="2">
					<p:commandButton value="#{language['page.manage']}"
						action="#{administrationTravelsBean.openCard()}"
						styleClass="floatright">
						<f:setPropertyActionListener value="#{cc.attrs.travel}"
							target="#{administrationTravelsBean.finalizeTravel}" />
					</p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>

	</composite:implementation>
</body>
</html>