<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<title>Not present in rendered output</title>
</head>
<body>
	<composite:interface name="createdTravelHotels">
		<composite:attribute name="travel" type="entries.travel.TravelOffer"
			required="true" />
		<!-- Update after click on add hotels button  -->
		<composite:attribute name="toUpdate" required="true"
			shortDescription="Update after click on add hotels button" />
		<!-- Update when  submit button is clicked -->
		<composite:attribute name="updateOnSubmit" required="true"
			shortDescription="Update when  submit button is clicked" />
	</composite:interface>
	<composite:implementation>
		<p:panelGrid style="margin:10px;" id="travelPanel">
			<p:row>
				<p:column colspan="2">
					<p:outputLabel value="#{cc.attrs.travel.title}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['travels.term']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.travel.startDate}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['travels.place']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.travel.address.city}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:outputLabel value="#{language['hotel.count']}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel value="#{cc.attrs.travel.hotels.size()}" />
					<!-- don't render button if hotels count is zero -->
					<p:commandButton id="seeBtn" icon="ui-icon-search" type="button"
						styleClass="floatright"
						rendered="#{cc.attrs.travel.hotels.size() gt 0 }" />
					<!-- don't render panel if hotels count is zero -->
					<p:overlayPanel for="seeBtn" hideEffect="fade" styleClass="center"
						rendered="#{cc.attrs.travel.hotels.size() gt 0 }">
						<p:dataTable var="hotel" value="#{cc.attrs.travel.hotels}"
							styleClass="center">
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText value="#{hotel.hotel.name}" />
							</p:column>
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText value="#{hotel.hotel.hotelAddress.city}" />
							</p:column>
							<p:column headerText="#{language['page.not_data']}">
								<h:outputText value="#{hotel.hotel.hotelAddress.street}" />
							</p:column>
						</p:dataTable>
					</p:overlayPanel>

				</p:column>
			</p:row>
			<p:row>
				<p:column colspan="1">
					<p:commandButton value="#{language['hotel.add']}"
						style="float:left;"
						action="#{administrationTravelsBean.addSelectedHotels()}"
						update="travelPanel #{cc.attrs.toUpdate}">
						<f:setPropertyActionListener value="#{cc.attrs.travel}"
							target="#{administrationTravelsBean.selectedTravel}" />
					</p:commandButton>
				</p:column>
				<p:column colspan="1">
					<p:commandButton value="#{language['page.confirm']}"
						action="#{administrationTravelsBean.changeOfferToPreparedHotels()}"
						update="#{cc.attrs.updateOnSubmit}" styleClass="floatright">
						<f:setPropertyActionListener value="#{cc.attrs.travel}"
							target="#{administrationTravelsBean.selectedTravel}" />
					</p:commandButton>
				</p:column>
			</p:row>
		</p:panelGrid>

	</composite:implementation>
</body>
</html>