@charset "UTF-8";

body {
	
}

.master {
	margin: 0 auto;
	padding: 0;
	width: 95%;
}

.top {
	margin: 0 auto;
	padding: 0;
	min-height: 60px;
	background-color: white;
	font-size: 60px;
	color: #c26a03;
}

.foot {
	background-color: #333333;
	text-align: center;
	color: white;
	width: auto;
	margin: 0;
	padding: 10px;
	min-height: 20px;
}

.menu {
	margin: 0 auto;
	padding: 0;
	min-height: 30px;
}

.menu_resize {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.user_menu {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #7a7b7b;
	float: right;
}

.user_menu ul {
	position: relative;
	list-style: none;
	padding: 0;
	float: left;
}

.user_menu ul li {
	margin: 0;
	padding: 0 0 0 2px;
	float: left;
}

.user_menu ul li a {
	display: block;
	margin: auto;
	padding: 30px 10px;
	line-height: 20px;
	font-weight: normal;
	color: #7a7b7b;
	text-decoration: none;
	text-transform: none;
	text-align: center;
}

.user_menu ul li.active a, .user_menu ul li a:hover, .user_menu ul li a:focus
	{
	text-decoration: none;
	color: #c26a03;
	font-weight: normal;
	background: #fee978;
}

.main_content {
	min-height: 500px;
	background-color: #F2F2F2;
}

.ui-carousel-header {
	display: none !important;
	border: 0 none !important;
}

.center, .center tr, .center td {
	margin: 0 auto !important;
}

.transparent, .transparent tr, .transparent td {
	background: transparent !important;
}

.noborder, .noborder tr, .noborder td {
	border: 0 none !important;
}

.floatright, .floatright tr, .floatright td {
	float: right !important;
}

.floatleft, .floatleft tr, .floatleft td {
	float: left !important;
}

.travel_color {
	background-color: #fee978;
}

.form_separator {
	padding-bottom: 2em !important;
}
/* https://www.w3schools.com/css/css3_object-fit.asp */
.image_carosel {
	width: 100%;
	height: 300px;
	object-fit: cover;
	overflow: hidden;
}

.travel_image {
	width: 90vw;
	max-width: 90vw;
	height: 300px;
	max-height: 300px;
	object-fit: cover;
	overflow: hidden;
	object-fit: cover;
}

.image_travel_card {
	width: 300px;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
}

.person_header {
	text-decoration: underline;
	color: grey;
	font-size: 0.7em !important;
}

.person {
	font-size: 1.3em !important;
}

.grey_header {
	background-color: rgb(195, 195, 195);
	padding: 15px;
	text-align: center;
	border-radius: 15px 15px 0 0;
}