<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition>
		<h:form prependId="false">
			<div class="menu_resize">
				<div class="user_menu">
					<ul>
						<li
							class="#{view.viewId eq '/godlikePanelTravels.xhtml' ? 'active' :''}">
							<h:link outcome="godlikePanelTravels.xhtml"
								value="#{language['a_page.travels']}"
								rendered="#{godlikeUsers.hasTravelAccess()}" />
						</li>

						<li
							class="#{view.viewId eq '/godlikePanelHotels.xhtml' ? 'active' :''}">
							<h:link outcome="godlikePanelHotels.xhtml"
								value="#{language['a_page.hotels']}"
								rendered="#{godlikeUsers.hasHotelAccess()}" />
						</li>

						<li
							class="#{view.viewId eq '/godlikePanelTransport.xhtml' ? 'active' :''}">
							<h:link outcome="godlikePanelTransport.xhtml"
								value="#{language['a_page.transport']}"
								rendered="#{godlikeUsers.hasTransportAccess()}" />
						</li>

						<li
							class="#{view.viewId eq '/godlikePanelUsers.xhtml' ? 'active' :''}">
							<h:link outcome="godlikePanelUsers.xhtml"
								value="#{language['a_page.users']}"
								rendered="#{godlikeUsers.hasUsersAccess()}" />
						</li>

						<li><p:commandLink value="#{language['page.logout']}"
								action="#{godlikeUsers.logoutUser()}"
								styleClass="transparent noborder"
								rendered="#{godlikeUsers.userIsLogged() }" /></li>

						<!--<li><p:outputLabel value="#{view.viewId}" /></li> -->
						
						<li><br /> #{language['page.lang']} <h:selectOneMenu
								value="#{languageBean.language}" onchange="submit()"
								valueChangeListener="#{languageBean.onLanguageChanged}">
								<f:selectItems value="#{languageBean.languages}" />
							</h:selectOneMenu></li>
					</ul>
				</div>
			</div>
		</h:form>
	</ui:composition>
</body>
</html>