<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" lang="#{languageBean.language}">
<f:view locale="#{languageBean.language}">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<h:outputStylesheet library="css" name="page.css" />
		<h:outputScript library="js" name="pl_PL.js" />
		<!-- allow insert external css file -->
		<ui:insert name="pageHead"/>
		<title>#{language['page.title']}</title>

	</h:head>
	<h:body>
		<div id="master" class="master">
			<div id="top" class="top">
				<ui:insert name="top"> #{language['page.title']} </ui:insert>
			</div>
			<div id="menu" class="menu">
				<ui:insert name="menu"></ui:insert>
			</div>
			<div id="main_content" class="main_content">
				<ui:insert name="main_content">Main Content</ui:insert>
			</div>
			<div id="foot" class="foot">
				<ui:insert name="foot"> #{language['page.footer_text']} &copy; </ui:insert>
			</div>
		</div>
	</h:body>
</f:view>
</html>