<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition>
		<h:form prependId="false">
			<div class="menu_resize">
				<div class="user_menu">
					<ul>
						<li class="#{view.viewId eq '/mainPage.xhtml' ? 'active' :''}"><h:link
								outcome="mainPage.xhtml" value="#{language['u_menu.main_page']}" /></li>
						<li
							class="#{view.viewId eq '/travels.xhtml' or view.viewId eq '/travelsDetails.xhtml' ? 'active' :''}"><h:link
								outcome="travels.xhtml" value="#{language['u_menu.travels']}" /></li>

						<li><p:menuButton id="userAccount" icon="fa fa-user"
								style="margin: 0 10px;">
								<p:menuitem value="#{language['user.account.my']}"
									rendered="#{not empty userBean.client}"
									outcome="clientPage.xhtml" />
								<p:menuitem value="#{language['user.logout']}"
									rendered="#{not empty userBean.client}" update="userAccount"
									action="#{userBean.userLogout()}" />
								<p:menuitem value="#{language['user.login']}"
									rendered="#{empty userBean.client}"
									onclick="PF('userLogin').show();" />
							</p:menuButton></li>

						<!--<li><p:outputLabel value="#{view.viewId}" /></li> -->
						<li><br /> #{language['page.lang']} <h:selectOneMenu
								value="#{languageBean.language}" onchange="submit()"
								valueChangeListener="#{languageBean.onLanguageChanged}">
								<f:selectItems value="#{languageBean.languages}" />
							</h:selectOneMenu></li>
					</ul>
				</div>
			</div>

			<p:notificationBar position="top" effect="slide" styleClass="top"
				widgetVar="noLogged">
				<h:outputText
					value="Uzytkownik nie zalogowany ! Zaloguj się na swoje konto"
					style="font-size:36px;" />
			</p:notificationBar>

			<p:dialog header="Logowanie" widgetVar="userLogin" modal="true"
				draggable="false" resizable="false" minHeight="200">
				<p:panelGrid styleClass="noborder">
					<p:row>
						<p:column colspan="2">
							<p:messages id="messages" showDetail="true" showSummary="false">
								<p:autoUpdate />
							</p:messages>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['page.mail']} " />
						</p:column>
						<p:column colspan="1">
							<p:inputText value="#{userBean.mail}"></p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['page.pass']} " />
						</p:column>
						<p:column colspan="1">
							<p:password value="#{userBean.password}"></p:password>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.account.no.account']} ? " />
							<p:commandLink value="#{language['user.account.new']}"
								action="#{userBean.registerPage()}"></p:commandLink>
						</p:column>
						<p:column colspan="1">
							<p:commandButton value="#{language['user.login']}"
								action="#{userBean.userLogin()}" update="userAccount"></p:commandButton>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:dialog>
		</h:form>
	</ui:composition>
</body>
</html>