<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/travel">


<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/mainPage.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/userMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form id="buy_travel">
				<ui:fragment
					rendered="#{empty clientTravelBean.selectedTravelOffer}">
					<h3>
						<p:outputLabel value="#{language['page.not_data']}" />
					</h3>
				</ui:fragment>
				<ui:fragment
					rendered="#{not empty clientTravelBean.selectedTravelOffer}">
					<ui:param name="client" value="#{userBean.client}" />
					<p:panelGrid styleClass="center transparent noborder"
						style="width:100%">
						<p:row>
							<p:column colspan="4" style="padding:0;text-align:center;">
								<p:graphicImage
									value="/Media?media=#{clientTravelBean.selectedTravelOffer.image.id}"
									alt="Travel Image" styleClass="travel_image" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2" styleClass="form_separator">
								<p:outputLabel
									value="#{clientTravelBean.selectedTravelOffer.title}"
									style="font-size:2em;font-weight: bold;"></p:outputLabel>
							</p:column>
							<p:column colspan="1" styleClass="form_separator">
								<p:outputLabel
									value="#{clientTravelBean.selectedTravelOffer.officeCommission + clientTravelBean.selectedHotel.price + clientTravelBean.selectedPlane.ticketPrice*clientTravelBean.selectedHotel.personInRoom}"
									style="font-size:2em;" styleClass="floatright"></p:outputLabel>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel
									value="#{clientTravelBean.selectedPlane.departureDate} (#{clientTravelBean.dayCount()} dni)"
									style="font-weight: bold;"></p:outputLabel>
							</p:column>
							<p:column colspan="1">
								<p:outputLabel
									value="Samolot : #{clientTravelBean.selectedPlane.airlines.name}"
									style="font-style: italic;"></p:outputLabel>
							</p:column>
							<p:column colspan="1">
								<p:outputLabel
									value="Odlot : #{clientTravelBean.selectedPlane.departureAirport.address.city}"
									style="font-style: italic;"></p:outputLabel>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel
									value="#{clientTravelBean.selectedTravelOffer.address.city}"
									style="font-weight: bold;"></p:outputLabel>
							</p:column>
							<p:column colspan="1">
								<p:outputLabel
									value=" wylot #{clientTravelBean.selectedPlane.departureDate}"
									style="font-style: italic;"></p:outputLabel>
							</p:column>
							<p:column colspan="1">
								<p:outputLabel
									value="powrot #{clientTravelBean.selectedPlane.returnDate}"
									style="font-style: italic;"></p:outputLabel>
							</p:column>

						</p:row>

						<p:row>
							<p:column colspan="1" styleClass="form_separator">
								<p:outputLabel
									value="Osoby : #{clientTravelBean.selectedHotel.personInRoom}"
									style="font-weight: bold;"></p:outputLabel>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel
									value="Hotel : #{clientTravelBean.selectedHotel.hotel.name}"></p:outputLabel>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1" styleClass="form_separator">
								<p:outputLabel
									value="Adress : #{clientTravelBean.selectedHotel.hotel.hotelAddress.street}"></p:outputLabel>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="4" styleClass="form_separator">
								<p:outputLabel value="Dane osoby rezerwującej"
									style="font-size:1.5em;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="4" styleClass="form_separator">
								<travel:personDetails person="#{userBean.client.clientData}" />
							</p:column>
						</p:row>

						<p:row id="persons">
							<p:column colspan="4">
								<ui:repeat var="person" varStatus="position"
									value="#{clientTravelBean.accompanyingPersons}">
									<p:outputLabel value="Uczestnik wycieczki #{position.index+1}"
										style="font-size:1.5em;" />
									<travel:travelPerson person="#{person}" id="person" />
								</ui:repeat>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="4" style="width:100%;">
								<p:commandButton value="Zapłac" update="persons"
									action="#{clientTravelBean.finalizeOffer()}"
									styleClass="floatright" style="padding: 0 20%"></p:commandButton>
							</p:column>
						</p:row>
					</p:panelGrid>
				</ui:fragment>
				<div style="min-height: 40px;" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>