<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/travel">


<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/mainPage.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/userMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form prependId="false">
				<p:panelGrid styleClass="center transparent noborder">
					<p:row>
						<p:column colspan="2" styleClass="form_separator">
							<p:outputLabel value="#{language['user.account.registration']}"
								style="font-size:1.5em" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2" styleClass="form_separator">
							<p:outputLabel
								value="Po utworzeniu konta na podany adres e-mail otrzymasz link aktywacyjny " />
						</p:column>

						<p:column colspan="1">
							<p:commandButton value="#{language['user.create']}" ajax="false"
								action="#{userBean.userRegistration()}"></p:commandButton>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['page.mail']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="mail" />
							<p:inputText id="mail" value="#{userBean.mail}" required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['page.pass']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="pass" />
							<p:password id="pass" value="#{userBean.password}"
								required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:password>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1" styleClass="form_separator">
							<p:outputLabel value="#{language['page.pass.confirm']}" />
						</p:column>
						<p:column colspan="1" styleClass="form_separator">
							<p:message for="conf" />
							<p:password id="conf" value="#{userBean.confirmPassword}"
								required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:password>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.name.first']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="first" />
							<p:inputText id="first" value="#{userBean.firstName}"
								required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.name.last']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="last" />
							<p:inputText id="last" value="#{userBean.lastName}"
								required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1" styleClass="form_separator">
							<p:outputLabel value="#{language['user.birth.date']}" />
						</p:column>
						<p:column colspan="1" styleClass="form_separator">
							<p:message for="date" />
							<p:calendar id="date" value="#{userBean.dateOfBirth}"
								showOn="button" navigator="true" yearRange="c-90:c"
								required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:calendar>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.country']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="country" />
							<p:inputText id="country" value="#{userBean.country}"
								required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.place']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="city" />
							<p:inputText id="city" value="#{userBean.city}" required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.street']}" />
						</p:column>
						<p:column colspan="1">
							<p:inputText value="#{userBean.street}"></p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.number.house']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="house" />
							<p:inputText id="house" value="#{userBean.houseNumber}"
								required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}">
								<f:validateLongRange minimum="1" />
							</p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.number.apartment']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="apart" />
							<p:inputText id="apart" value="#{userBean.apartmentNumber}">
							</p:inputText>
						</p:column>
					</p:row>

					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['user.postal.code']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="code" />
							<p:inputText id="code" value="#{userBean.postalCode}"
								required="true"
								validatorMessage="#{language['page.incorrect_data']}"
								requiredMessage="#{language['page.incorrect_data']}"></p:inputText>
						</p:column>
					</p:row>
				</p:panelGrid>

				<div style="min-height: 40px;" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>