<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/travel">


<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/mainPage.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/userMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form prependId="false">
				<!-- Displayed if user is not logged , client instance is null -->
				<p:outputLabel value="#{language['user.no.logged']}"
					rendered="#{empty userBean.client}" />

				<!-- Displayed account details if user is logged, client instance consist user data -->
				<ui:fragment rendered="#{not empty userBean.client}">
					<ui:param name="client" value="#{userBean.client}" />
					<!-- User data -->
					<p:panelGrid id="clientData"
						styleClass="center transparent noborder">
						<p:row>
							<p:column colspan="4" styleClass="form_separator">
								<p:outputLabel value="#{language['user.account.my']}"
									style="font-size:1.5em" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel value="#{language['page.mail']}" />
							</p:column>
							<p:column colspan="1">
								<p:outputLabel value="#{language['user.name.first']}" />
							</p:column>
							<p:column colspan="1">
								<p:outputLabel value="#{language['user.name.last']}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1" styleClass="form_separator">
								<p:inputText value="#{client.mail}" readonly="true"></p:inputText>
							</p:column>
							<p:column colspan="1" styleClass="form_separator">
								<p:inputText value="#{client.clientData.firstName}"
									readonly="true"></p:inputText>
							</p:column>
							<p:column colspan="1" styleClass="form_separator">
								<p:inputText value="#{client.clientData.lastName}"
									readonly="true"></p:inputText>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1" styleClass="form_separator">
								<p:outputLabel value="#{language['user.birth.date']}" />
							</p:column>
							<p:column colspan="1" styleClass="form_separator">
								<p:calendar value="#{client.clientData.dateOfBirth}"
									readonly="true" showOn="none"></p:calendar>
							</p:column>
							<p:column colspan="1" styleClass="form_separator">
								<p:commandButton value="#{language['page.pass.change']}"
									onsuccess="PF('userPass').show();"></p:commandButton>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel value="#{language['user.country']}" />
							</p:column>
							<p:column colspan="1">
								<p:outputLabel value="#{language['user.place']}" />
							</p:column>
							<p:column colspan="1">
								<p:outputLabel value="#{language['user.street']}" />
							</p:column>

						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:inputText value="#{client.clientData.country}"
									readonly="true"></p:inputText>
							</p:column>
							<p:column colspan="1">
								<p:inputText value="#{client.clientData.place}" readonly="true"></p:inputText>
							</p:column>
							<p:column colspan="1">
								<p:inputText value="#{client.clientData.street}" readonly="true"></p:inputText>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel value="#{language['user.number.house']}" />
							</p:column>
							<p:column colspan="1">
								<p:outputLabel value="#{language['user.number.apartment']}" />
							</p:column>
							<p:column colspan="1">
								<p:outputLabel value="#{language['user.postal.code']}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1" styleClass="form_separator">
								<p:inputText value="#{client.clientData.houseNumber}"
									readonly="true"></p:inputText>
							</p:column>
							<p:column colspan="1" styleClass="form_separator">
								<p:inputText value="#{client.clientData.apartmentNumber}"
									readonly="true"></p:inputText>
							</p:column>
							<p:column colspan="1" styleClass="form_separator">
								<p:inputText value="#{client.clientData.postalCode}"
									readonly="true"></p:inputText>
							</p:column>
						</p:row>
						<p:row id="newsletter">
							<p:column colspan="3" styleClass="form_separator">
								<p:poll interval="1" partialSubmit="true" process="newsletter"
									listener="#{userBean.updateNewsletterCounter()}" />
								<p:selectBooleanCheckbox value="#{userBean.newsletterNewOffer}"
									style="margin:10px 10px 10px 0;">
									<p:ajax event="change"
										listener="#{userBean.onNewsletterChange()}"
										update="clientData" />
								</p:selectBooleanCheckbox>
								<p:outputLabel value="Chcę otrzymywać najnowsze oferty." />

								<br />
								<p:selectBooleanCheckbox
									value="#{userBean.newsletterSelectedCountry}"
									style="margin:10px 10px 10px 0;">
									<p:ajax event="change"
										listener="#{userBean.onNewsletterChange()}"
										update="clientData" />
								</p:selectBooleanCheckbox>

								<p:outputLabel value="Wysyłaj nowe oferty dla wybranego kraju." />
								<p:inputText value="#{userBean.newsletterCountry}"
									style="margin-left:20px;"
									onkeypress="if (event.keyCode == 13) { return false; }"
									readonly="#{!userBean.newsletterSelectedCountry}">
									<p:ajax event="keyup"
										listener="#{userBean.onNewsletterChange()}"
										update="clientData" />
								</p:inputText>
								<br />

							</p:column>
						</p:row>
					</p:panelGrid>
					<!-- User change password dialog -->
					<p:dialog widgetVar="userPass" modal="true" draggable="false"
						resizable="false" minHeight="200">
						<p:panelGrid styleClass="noborder">
							<p:row>
								<p:column colspan="2">
									<p:messages id="passmessages" showDetail="true"
										showSummary="false">
										<p:autoUpdate />
									</p:messages>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="1">
									<p:outputLabel value="#{language['page.pass']} " />
								</p:column>
								<p:column colspan="1">
									<p:password id="ch_pass" value="#{userBean.password}"
										required="true"
										onkeypress="if (event.keyCode == 13) { return false; }"
										requiredMessage="#{language['page.incorrect_data']}"></p:password>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="1">
									<p:outputLabel value="#{language['page.pass.confirm']} " />
								</p:column>
								<p:column colspan="1">
									<p:password id="ch_conf" value="#{userBean.confirmPassword}"
										required="true"
										onkeypress="if (event.keyCode == 13) { return false; }"
										requiredMessage="#{language['page.incorrect_data']}"></p:password>
								</p:column>
							</p:row>
							<p:row>
								<p:column colspan="2">
									<p:commandButton value="#{language['page.pass.change']}"
										styleClass="floatright" action="#{userBean.changePassword()}"
										update="userAccount"></p:commandButton>
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:dialog>
					<div style="min-height: 40px;" />
					<!-- Client Offer -->
					<p:dataGrid value="#{clientTravelBean.userOffer()}" var="offer"
						emptyMessage="#{language['page.not_data']}"
						styleClass="noborder transpartent" layout="grid" columns="1">
						<f:facet name="header">
							<p:outputLabel value="Kupione wyczieczki :" />
						</f:facet>
						<f:facet name="loader">
							<p:commandButton type="button" value="More"
								icon="ui-icon-circle-triangle-s" />
						</f:facet>
						<travel:clientTravel offer="#{offer}"></travel:clientTravel>
					</p:dataGrid>
					<div style="min-height: 40px;" />
				</ui:fragment>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>