<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/administration">


<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/godlikePanel.xhtml" />
		</ui:define>
		<ui:define name="top">
			<ui:include src="/template/godlikeTop.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/godlikeMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form id="auser">
				<p:dataGrid id="users"
					value="#{administrationUsersBean.administrationList()}"
					style="margin-bottom: 25px;" layout="grid" var="user"
					styleClass="transparent center">
					<f:facet name="header">
						<p:outputLabel value="#{language['a_user.accounts']}"
							style=" margin: 25px;" />

					</f:facet>
					<travel:adminstrationUser user="#{user}" />
				</p:dataGrid>
			</h:form>
			<div style="min-height: 40px;" />
			<h:form id="new_auser">
				<p:panelGrid styleClass="center">
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['a_user.id']}" />
						</p:column>
						<p:column colspan="1">
							<p:message id="msg_id" for="id" />
							<p:inputText id="id"
								value="#{administrationUsersBean.adminstrationIdentifier}"
								required="true"
								requiredMessage="#{language['page.incorrect_data']}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['a_user.mail']}" />
						</p:column>
						<p:column colspan="1">
							<p:message id="msg_mail" for="mail" />
							<p:inputText id="mail" value="#{administrationUsersBean.mail}"
								required="true"
								requiredMessage="#{language['page.incorrect_data']}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['page.pass.new']}" />
						</p:column>
						<p:column colspan="1">
							<p:message id="msg_pass" for="pass" />
							<p:password id="pass"
								value="#{administrationUsersBean.newPassword}" required="true"
								requiredMessage="#{language['page.incorrect_data']}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['page.pass.confirm']}" />
						</p:column>
						<p:column colspan="1">
							<p:message id="msg_conf" for="conf" />
							<p:password id="conf"
								value="#{administrationUsersBean.confirmPassword}"
								required="true"
								requiredMessage="#{language['page.incorrect_data']}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['a_user.locked']}" />
						</p:column>
						<p:column colspan="1">
							<p:inputSwitch id="locked"
								value="#{administrationUsersBean.locked}" />
							<p:tooltip for="locked" value="Blokowanie konta przed usunięciem"
								position="right" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:outputLabel value="Dostęp :" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="Podróże" />
						</p:column>
						<p:column colspan="1">
							<p:inputSwitch value="#{administrationUsersBean.travelAccess}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="Hotele" />
						</p:column>
						<p:column colspan="1">
							<p:inputSwitch value="#{administrationUsersBean.hotelAccess}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="Transport" />
						</p:column>
						<p:column colspan="1">
							<p:inputSwitch value="#{administrationUsersBean.transportAccess}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="Uzytkownicy" />
						</p:column>
						<p:column colspan="1">
							<p:inputSwitch value="#{administrationUsersBean.usersAccess}" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:commandButton value="#{language['a_user.add']}" ajax="true"
								action="#{administrationUsersBean.saveUser()}"
								style="float:right;"
								update="auser:users new_auser:mail new_auser:id new_auser:pass new_auser:conf 
								new_auser:msg_mail new_auser:msg_id new_auser:msg_pass new_auser:msg_conf" />

						</p:column>
					</p:row>
				</p:panelGrid>
				<div style="min-height: 40px;" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>