<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/administration">


<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/godlikePanel.xhtml" />
		</ui:define>
		<ui:define name="top">
			<ui:include src="/template/godlikeTop.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/godlikeMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form prependId="false">
				<!-- travel card list to add hotels -->
				<p:messages id="hotelsmsg" showDetail="false" closable="true">
					<p:autoUpdate />
				</p:messages>
				<div class="grey_header">
					<p:outputLabel value="#{language['travels.list']}" />
					<div style="float: right;">
						<p:outputLabel value="Miasto " />
						<p:selectOneMenu id="created_cities"
							value="#{administrationTravelsBean.hotelOfferFilter}"
							style="min-width:150px;margin:0 20px;">
							<p:ajax event="itemSelect" update="hotels" />
							<f:selectItems
								value="#{administrationTravelsBean.hotelOfferCitiesList()}" />
						</p:selectOneMenu>
					</div>
				</div>
				<p:dataGrid id="hotels"
					value="#{administrationTravelsBean.travelListForPrepareHotels()}"
					style="margin-bottom: 25px;" layout="grid" var="travel"
					emptyMessage="#{language['page.not_data']}"
					styleClass="transparent center">

					<travel:createdTravelHotels travel="#{travel}"
						toUpdate="hotelsBox searchInput" updateOnSubmit="hotels" />
				</p:dataGrid>

				<!-- Search field -->
				<div style="min-height: 50px;" />
				<p:panelGrid styleClass="center transparent noborder"
					style="width:100%">
					<p:row>
						<p:column>
							<div class="ui-inputgroup floatright">
								<p:inputText id="searchInput"
									value="#{administrationTravelsBean.searchHotel}" />
								<p:commandButton value="#{language['page.search']}"
									action="#{administrationTravelsBean.findHotel()}"
									update="hotelsBox" />
							</div>
						</p:column>
					</p:row>
				</p:panelGrid>
				<!-- Table with hotels -->
				<p:dataTable id="hotelsBox" var="hotel"
					emptyMessage="#{language['page.not_data']}"
					value="#{administrationTravelsBean.foundHotelReservations}"
					selection="#{administrationTravelsBean.selectedHotelReservations}"
					rowKey="#{hotel.id}" style="margin-bottom:0">
					<f:facet name="header">
						<p:outputLabel value="#{language['hotel.add.header']}" />
					</f:facet>
					<p:column selectionMode="multiple"
						style="width:16px;text-align:center" />
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{hotel.hotel.name}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{hotel.hotel.hotelAddress.city}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{hotel.hotel.hotelAddress.street}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{hotel.availableFrom}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{hotel.availableTo}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{hotel.personInRoom}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{hotel.price}" />
					</p:column>
				</p:dataTable>
				<div style="min-height: 20px;" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>