<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/godlikePanel.xhtml" />
		</ui:define>
		<ui:define name="top">
			<ui:include src="/template/godlikeTop.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/godlikeMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form id="offerCard" enctype="multipart/form-data">

				<p:panelGrid id="travelCard" styleClass="center transparent">
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['travels.title']}" />
						</p:column>
						<p:column colspan="1">
							<p:inputText id="title"
								value="#{administrationTravelsBean.title}">
								<p:ajax event="keyup"
									listener="#{administrationTravelsBean.onTitleChange}" />
							</p:inputText>
						</p:column>
						<p:column colspan="1">
							<p:commandButton value="#{language['page.save.changes']}"
								action="#{administrationTravelsBean.changeAcriveOffer()}"
								ajax="false" update="travelCard:travel_image">
							</p:commandButton>
						</p:column>
						<p:column colspan="1">
							<p:commandButton value="Archiwizacja podróży"
								style=" margin-left: 50px; float:right;" ajax="false"
								update="travelCard:travel_image"
								action="#{administrationTravelsBean.disableOffer()}">
							</p:commandButton>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['travels.city']} " />
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="#{administrationTravelsBean.city}" />
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="#{language['travels.term']}" />
						</p:column>
						<p:column colspan="1">
							<p:calendar value="#{administrationTravelsBean.startDate}"
								pages="2" showOn="button">
								<p:ajax event="dateSelect"
									listener="#{administrationTravelsBean.onStartDateChange()}" />
							</p:calendar>
						</p:column>
					</p:row>
					<p:row>

					</p:row>
					<p:row>
						<p:column colspan="3"></p:column>
						<p:column colspan="1">
							<p:outputLabel value="#{language['travels.price.basic']}" />
							<br />
							<p:inputText value="#{administrationTravelsBean.commission}">
								<p:ajax event="keyup"
									listener="#{administrationTravelsBean.onPriceChange()}" />
							</p:inputText>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="4">
							<!-- Table with hotels -->
							<p:dataTable id="hotelsBox" var="hotel"
								emptyMessage="#{language['page.not_data']}"
								value="#{administrationTravelsBean.foundHotelReservations}"
								selection="#{administrationTravelsBean.selectedHotelReservations}"
								rowKey="#{hotel.id}" style="margin-bottom:0">
								<f:facet name="header">
									<p:outputLabel value="Hotele" />
								</f:facet>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{hotel.hotel.name}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{hotel.hotel.hotelAddress.city}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{hotel.hotel.hotelAddress.street}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{hotel.availableFrom}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{hotel.availableTo}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{hotel.personInRoom}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{hotel.price}" />
								</p:column>
							</p:dataTable>
							<div style="min-height: 20px;" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="4">
							<!-- Table with planes -->
							<p:dataTable id="transportBox" var="plane"
								emptyMessage="#{language['page.not_data']}"
								value="#{administrationTravelsBean.foundPlaneTickets}"
								selection="#{administrationTravelsBean.selectedPlaneTickets}"
								rowKey="#{plane.id}" style="margin-bottom:0">
								<f:facet name="header">
									<p:outputLabel value="Samoloty" />
								</f:facet>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{plane.airlines.name}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{plane.departureAirport.address.city}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{plane.targetAirport.address.city}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{plane.departureDate}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{plane.returnDate}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{plane.ticketCount}" />
								</p:column>
								<p:column headerText="#{language['page.not_data']}">
									<h:outputText value="#{plane.ticketPrice}" />
								</p:column>
							</p:dataTable>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="4" rowspan="3"
							style="text-align: center;margin-left: 50%;">
							<p:outputLabel value="#{language['travels.description']}" />
							<br />
							<p:inputTextarea value="#{administrationTravelsBean.description}"
								cols="50" rows="15" label="#{language['travels.description']}">
								<p:ajax event="keyup"
									listener="#{administrationTravelsBean.onDescriptionChange()}" />
							</p:inputTextarea>
						</p:column>
					</p:row>

				</p:panelGrid>
				<div style="margin-top: 50px;"></div>

			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>