<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/administration">

<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/godlikePanel.xhtml" />
		</ui:define>
		<ui:define name="top">
			<ui:include src="/template/godlikeTop.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/godlikeMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form id="g_travel">
				<!-- Add new travel card to prepare  -->
				<p:fieldset legend="#{language['travels.new']}"
					styleClass="noborder center transparent" collapsed="true"
					toggleable="true" toggleSpeed="400">
					<p:panelGrid styleClass="center">
						<p:row>
							<p:column colspan="1">
								<p:outputLabel value="#{language['travels.title']}" />
							</p:column>
							<p:column colspan="1">
								<p:message id="msg_title" for="title" />
								<p:inputText id="title"
									value="#{administrationTravelsBean.title}" required="true"
									requiredMessage="#{language['page.incorrect_data']}" size="40" />
							</p:column>
							<p:column colspan="1">
								<p:commandButton value="#{language['travels.add_prepare']}"
									action="#{administrationTravelsBean.addOfferToPrepare()}"
									style="float:right;" ajax="false" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel value="#{language['travels.term']}" />
							</p:column>
							<p:column colspan="2">
								<p:message id="msg_calendar" for="calendar" />
								<p:calendar id="calendar"
									value="#{administrationTravelsBean.startDate}" pages="2"
									showOn="button" required="true"
									requiredMessage="#{language['page.incorrect_data']}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel value="#{language['travels.country']}" />
							</p:column>
							<p:column colspan="2">
								<p:message id="msg_country" for="country" />
								<p:inputText id="country"
									value="#{administrationTravelsBean.country}" required="true"
									requiredMessage="#{language['page.incorrect_data']}" size="40" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<p:outputLabel value="#{language['travels.city']}" />
							</p:column>
							<p:column colspan="2">
								<p:message id="msg_city" for="city" />
								<p:inputText id="city" value="#{administrationTravelsBean.city}"
									required="true"
									requiredMessage="#{language['page.incorrect_data']}" size="40" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:fieldset>
			</h:form>
			<!-- display all travel in progress  -->
			<div style="min-height: 50px;" />
			<h:form prependId="false">
				<div class="grey_header">
					<p:outputLabel value="#{language['travels.list.prepare']}" />
					<div style="float: right;">
						<p:outputLabel value="Miasto " />
						<p:selectOneMenu id="created_cities"
							value="#{administrationTravelsBean.createdOfferFilter}"
							style="min-width:150px;margin:0 20px;">
							<p:ajax event="itemSelect" update="created created_cities" />
							<f:selectItems
								value="#{administrationTravelsBean.createdOfferCitiesList()}" />
						</p:selectOneMenu>
					</div>
				</div>
				<p:dataGrid id="created"
					value="#{administrationTravelsBean.travelListInProgress()}"
					var="offer" emptyMessage="#{language['page.not_data']}"
					style="margin-bottom: 25px;" layout="grid"
					styleClass="transparent center">
					<travel:createdTravel travel="#{offer}" panelId="created" />
				</p:dataGrid>

				<div style="min-height: 50px;" />
				<div class="grey_header">
					<p:outputLabel value="#{language['travels.list.ready']}" />
					<div style="float: right;">
						<p:outputLabel value="Miasto " />
						<p:selectOneMenu id="ready_cities"
							value="#{administrationTravelsBean.readyOfferFilter}"
							style="min-width:150px;margin:0 20px;">
							<p:ajax event="itemSelect" update="ready ready_cities" />
							<f:selectItems
								value="#{administrationTravelsBean.readyOfferCitiesList()}" />
						</p:selectOneMenu>
					</div>
				</div>
				<p:dataGrid id="ready" style="margin-bottom: 25px;" layout="grid"
					var="offer" value="#{administrationTravelsBean.readyTravelList()}"
					styleClass="transparent center"
					emptyMessage="#{language['page.not_data']}">

					<travel:createdTravelReady travel="#{offer}" />
				</p:dataGrid>

				<div style="min-height: 50px;" />
				<div class="grey_header">
					<p:outputLabel value="#{language['travels.list.active']}" />
					<div style="float: right;">
						<p:outputLabel value="Miasto " />
						<p:selectOneMenu id="active_cities"
							value="#{administrationTravelsBean.activeOfferFilter}"
							style="min-width:150px;margin:0 20px;">
							<p:ajax event="itemSelect" update="active active_cities" />
							<f:selectItems
								value="#{administrationTravelsBean.activeOfferCitiesList()}" />
						</p:selectOneMenu>
					</div>
				</div>
				<p:dataGrid id="active" style="margin-bottom: 25px;" layout="grid"
					var="offer" styleClass="transparent center"
					value="#{administrationTravelsBean.activeTravelList()}"
					emptyMessage="#{language['page.not_data']}">
					<travel:activeTravel travel="#{offer}" panelId="active" />
				</p:dataGrid>
				<div style="min-height: 20px;" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>