<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/administration">


<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/godlikePanel.xhtml" />
		</ui:define>
		<ui:define name="top">
			<ui:include src="/template/godlikeTop.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/godlikeMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form prependId="false">
				<p:messages id="hotelsmsg" showDetail="false" closable="true">
					<p:autoUpdate />
				</p:messages>
				<div class="grey_header">
					<p:outputLabel value="#{language['travels.list']}" />
					<div style="float: right;">
						<p:outputLabel value="Miasto " />
						<p:selectOneMenu
							value="#{administrationTravelsBean.planeOfferFilter}"
							style="min-width:150px;margin:0 20px;">
							<p:ajax event="itemSelect" update="transports" />
							<f:selectItems
								value="#{administrationTravelsBean.planeOfferCitiesList()}" />
						</p:selectOneMenu>
					</div>
				</div>

				<p:dataGrid id="transports"
					value="#{administrationTravelsBean.travelListForPrepareTransport()}"
					style="margin-bottom: 25px;" layout="grid" var="offer"
					emptyMessage="#{language['page.not_data']}"
					styleClass="transparent center">
					<travel:createdTravelTransport travel="#{offer}"
						toUpdate="searchInput transportBox" updateOnSubmit="transports" />
				</p:dataGrid>

				<!-- Search field -->
				<div style="min-height: 50px;" />
				<p:panelGrid styleClass="center transparent noborder"
					style="width:100%">
					<p:row>
						<p:column>
							<div class="ui-inputgroup floatright">
								<p:inputText id="searchInput"
									value="#{administrationTravelsBean.searchPlane}" />
								<p:commandButton value="#{language['page.search']}"
									action="#{administrationTravelsBean.findPlanes()}"
									update="transportBox" />
							</div>
						</p:column>
					</p:row>
				</p:panelGrid>

				<!-- Table with planes -->
				<p:dataTable id="transportBox" var="plane"
					emptyMessage="#{language['page.not_data']}"
					value="#{administrationTravelsBean.foundPlaneTickets}"
					selection="#{administrationTravelsBean.selectedPlaneTickets}"
					rowKey="#{plane.id}" style="margin-bottom:0">
					<f:facet name="header">
						<p:outputLabel value="#{language['plane.add.header']}" />
					</f:facet>
					<p:column selectionMode="multiple"
						style="width:16px;text-align:center" />
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{plane.airlines.name}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{plane.departureAirport.address.city}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{plane.targetAirport.address.city}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{plane.departureDate}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{plane.returnDate}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{plane.ticketCount}" />
					</p:column>
					<p:column headerText="#{language['page.not_data']}">
						<h:outputText value="#{plane.ticketPrice}" />
					</p:column>
				</p:dataTable>
				<div style="min-height: 20px;" />
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>