<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/godlikePanel.xhtml" />
		</ui:define>
		<ui:define name="top">
			<ui:include src="/template/godlikeTop.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/godlikeMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form id="alogin">
				<p:panelGrid id="aloginGrid"
					styleClass="center ui-noborder transparent">
					<p:row>
						<p:column colspan="2">
							<p:outputLabel value="#{language['a_page.login']}"
								style="float:right;" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['a_page.login.mail']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="mail" />
							<p:inputText id="mail" value="#{godlikeUsers.loginMail}"
								required="true"
								requiredMessage="#{language['page.incorrect_data']}"
								style="float:right;" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="#{language['a_page.login.pass']}" />
						</p:column>
						<p:column colspan="1">
							<p:message for="pass" />
							<p:password id="pass" value="#{godlikeUsers.loginPass}"
								required="true"
								requiredMessage="#{language['page.incorrect_data']}"
								style=" float:right;" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="2">
							<p:commandButton action="#{godlikeUsers.loginUser()}"
								value="#{language['a_page.login.button']}" ajax="false"
								style="float:right;">
								<p:resetInput target="alogin" />
							</p:commandButton>
						</p:column>
					</p:row>
				</p:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>