<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/travel">
<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/mainPage.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/userMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form prependId="false">
				<div style="width: 100%; min-height: 40px;">
					<div style="float: right;">
						<p:outputLabel value="Sortuj " />
						<p:selectOneMenu value="#{travelBean.sortOrder}"
							style="min-width:150px;margin:0 20px;">
							<p:ajax event="change"
								listener="#{travelBean.onSortOrderChanged}" update="offers" />
							<f:selectItems value="#{travelBean.sortOrderList()}" />
						</p:selectOneMenu>
					</div>
					<div style="float: right;">
						<p:outputLabel value="Miasto " />
						<p:selectOneMenu id="cities" value="#{travelBean.selectedCity}"
							immediate="true" style="min-width:150px;margin:0 20px;">
							<p:ajax update="offers cities" />
							<f:selectItems value="#{travelBean.cityList()}" />
						</p:selectOneMenu>
					</div>
				</div>
				<div>
					<p:dataGrid id="offers" value="#{travelBean.getOffers()}"
						var="offer" emptyMessage="#{language['page.not_data']}"
						layout="grid" columns="1"
						paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
						rows="8" paginator="true">
						<f:facet name="header">
					#{language['travels.list']}
				</f:facet>
						<travel:smallTravel offer="#{offer}" />
					</p:dataGrid>
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>