<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/travel">

<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/mainPage.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/userMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form prependId="false">
				<ui:fragment rendered="#{empty travelBean.selectedTravelOffer}">
					<h3>
						<p:outputLabel value="#{language['page.not_data']}" />
					</h3>
				</ui:fragment>
				<ui:fragment rendered="#{not empty travelBean.selectedTravelOffer}">
					<ui:param name="price_hotel"
						value="#{travelBean.selectedTravelOffer.officeCommission + travelBean.selectedHotel.price}" />
					<p:panelGrid styleClass="center transparent travel_color noborder"
						style="width:100%;">
						<p:row>
							<p:column colspan="3" style="padding:0;text-align:center;">
								<p:graphicImage
									value="/Media?media=#{travelBean.selectedTravelOffer.image.id}"
									alt="Travel Image" width="80%" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2" style="text-align:left;font-size: 2em;">
								<p:outputLabel value="#{travelBean.selectedTravelOffer.title}" />
							</p:column>
							<p:column colspan="1">
								<p:outputLabel id="price" style="font-size: 1.7em;"
									value="#{price_hotel + travelBean.selectedPlane.ticketPrice*travelBean.selectedHotel.personInRoom}"
									styleClass="floatright" />
							</p:column>
							<p:row>
								<p:column colspan="2">
								</p:column>
								<p:column colspan="1" rowspan="1">
									<p:outputLabel id="personCount" style="font-size: 1.2em;"
										value="Osoby : #{travelBean.selectedHotel.personInRoom}"
										styleClass="floatright" />
								</p:column>
							</p:row>
						</p:row>
						<p:row>
							<p:column colspan="1" style="font-size: 1.5em;">
								<p:outputLabel
									value="#{travelBean.selectedTravelOffer.address.city}" />
							</p:column>
							<p:column colspan="1">
								<p:outputLabel
									value="#{language['travels.term']} #{travel.startDate}" />
							</p:column>
							<p:column colspan="1">
								<p:commandButton id="buyBotton"
									value="#{language['travels.buy']}" styleClass="floatright"
									disabled="#{!travelBean.checkAvailability()}"
									action="#{clientTravelBean.buyTravel()}">
									<f:setPropertyActionListener
										value="#{travelBean.selectedTravelOffer}"
										target="#{clientTravelBean.selectedTravelOffer}" />
									<f:setPropertyActionListener
										value="#{travelBean.selectedHotel}"
										target="#{clientTravelBean.selectedHotel}" />
									<f:setPropertyActionListener
										value="#{travelBean.selectedPlane}"
										target="#{clientTravelBean.selectedPlane}" />
								</p:commandButton>
							</p:column>
						</p:row>
					</p:panelGrid>

					<!-- Table with hotels -->
					<p:dataTable id="hotelsBox" var="hotel" selectionMode="single"
						emptyMessage="#{language['page.not_data']}"
						value="#{travelBean.hotelsList}"
						selection="#{travelBean.selectedHotel}" rowKey="#{hotel.id}"
						style="margin:2em 10px;">

						<p:ajax event="rowSelect" listener="#{travelBean.onHotelSelect}"
							update="price personCount transportBox buyBotton" />
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{hotel.hotel.name}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{hotel.hotel.hotelAddress.city}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText
								value="#{hotel.availableFrom} - #{hotel.availableTo}" />
						</p:column>
						<p:column headerText="Person">
							<h:outputText value="#{hotel.personInRoom}" />
						</p:column>
						<p:column headerText="Pokoje">
							<h:outputText value="#{hotel.roomCount - hotel.soldRoomCount}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="+ #{hotel.price - travelBean.minHotelPrice}" />
						</p:column>
					</p:dataTable>

					<!-- Table with planes -->
					<p:dataTable id="transportBox" var="plane" selectionMode="single"
						emptyMessage="#{language['page.not_data']}"
						value="#{travelBean.planesList}"
						selection="#{travelBean.selectedPlane}" rowKey="#{plane.id}"
						style="margin:2em 10px;">

						<p:ajax event="rowSelect" listener="#{travelBean.onPlaneSelect}"
							update="price personCount buyBotton" />
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{plane.airlines.name}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{plane.departureAirport.address.city}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{plane.departureDate}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{plane.returnDate}" />
						</p:column>
						<p:column headerText="Bilety">
							<h:outputText value="#{plane.ticketCount - plane.soldTicket}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText
								value="+ #{(plane.ticketPrice - travelBean.minPlanePrice)*travelBean.selectedHotel.personInRoom}" />
							<br />
							<h:outputText
								value="+ #{plane.ticketPrice - travelBean.minPlanePrice} za osobę"
								style="font-size: 0.5em;" />
						</p:column>
					</p:dataTable>
					<div style="margin-top: 50px;"></div>
					<p:panelGrid styleClass="center transparent travel_color noborder"
						style="width:100%;">
						<p:row>
							<p:column colspan="3"
								style="text-align:center;font-style: italic;padding:1em 10%;">
								<p:outputLabel
									value="#{travelBean.selectedTravelOffer.description}"
									style="width: 80%; margin: 0 auto;" />
							</p:column>
						</p:row>
					</p:panelGrid>
					<div style="margin-top: 50px; text-align: center;">
						<p:outputLabel value="Opinie kupujących : "
							rendered="#{travelBean.selectedTravelOffer.clientReviewsList.size() > 0}" />
					</div>
					<ui:repeat var="rewiev"
						value="#{travelBean.selectedTravelOffer.clientReviewsList}">
						<travel:clientReview review="#{rewiev}" />
					</ui:repeat>
					<div style="margin-top: 50px;"></div>
				</ui:fragment>
				<div style="margin-top: 50px;"></div>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>