<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:travel="http://java.sun.com/jsf/composite/travel">

<body>
	<!-- include the template file -->
	<ui:composition template="template/pageTemplate.xhtml">
		<ui:define name="pageHead">
			<meta http-equiv="refresh"
				content="#{facesContext.externalContext.sessionMaxInactiveInterval};url=#{request.contextPath}/mainPage.xhtml" />
		</ui:define>
		<ui:define name="menu">
			<ui:include src="/template/userMenu.xhtml" />
		</ui:define>
		<ui:define name="main_content">
			<h:form prependId="false">

				<p:outputLabel value="#{language['user.no.logged']}"
					rendered="#{empty userBean.client}" />
				<p:outputLabel value="#{language['page.not_data']}"
					rendered="#{empty clientTravelBean.selectedClientTravelCard}" />

				<!-- Displayed account details if user is logged, client instance consist user data -->
				<ui:fragment
					rendered="#{not empty clientTravelBean.selectedClientTravelCard}">

					<p:panelGrid styleClass="center transparent travel_color noborder "
						style="width:100%;">
						<p:row>
							<p:column colspan="3" style="padding:0;text-align:center;">
								<p:graphicImage
									value="/Media?media=#{clientTravelBean.selectedClientTravelCard.travelOffer.image.id}"
									alt="Travel Image" width="80%" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2" style="text-align:left;font-size: 2em;">
								<p:outputLabel
									value="#{clientTravelBean.selectedClientTravelCard.travelOffer.title}" />
							</p:column>
							<p:column colspan="1" style="font-size: 2em;">
								<p:outputLabel
									value="Zapłacono : #{clientTravelBean.selectedClientTravelCard.travelCost()}"
									styleClass="floatright" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1" style="font-size: 1.5em;">
								<p:outputLabel
									value="#{clientTravelBean.selectedClientTravelCard.travelOffer.address.city}" />
							</p:column>
							<p:column colspan="1" style="font-size: 1.5em;">
								<p:outputLabel
									value="#{language['travels.term']} : #{clientTravelBean.selectedClientTravelCard.travelOffer.startDate}" />
							</p:column>
							<p:column>
								<p:commandButton value="Pobierz"
									action="#{clientTravelBean.openPDF()}" ajax="false"
									styleClass="floatright" />
							</p:column>
						</p:row>
					</p:panelGrid>

					<!-- Table with hotels -->
					<p:dataTable var="hotel"
						emptyMessage="#{language['page.not_data']}"
						value="#{clientTravelBean.selectedClientTravelCard.hotelReservation}"
						style="margin:2em 10px;">

						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{hotel.hotel.name}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{hotel.hotel.hotelAddress.street}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{hotel.availableFrom}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{hotel.availableTo}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{hotel.personInRoom}" />
						</p:column>

					</p:dataTable>

					<!-- Table with planes -->
					<p:dataTable var="plane"
						emptyMessage="#{language['page.not_data']}"
						value="#{clientTravelBean.selectedClientTravelCard.planeTicket}"
						style="margin:2em 10px;">

						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{plane.airlines.name}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText
								value="#{plane.departureAirport.address.city} - #{plane.targetAirport.address.city}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{plane.departureDate}" />
						</p:column>
						<p:column headerText="#{language['page.not_data']}">
							<h:outputText value="#{plane.returnDate}" />
						</p:column>
					</p:dataTable>
					<p:panelGrid styleClass="center transparent travel_color noborder"
						style="width:100%;">
						<p:row>
							<p:column colspan="3"
								style="text-align:center;font-style: italic;padding:1em 10%;">
								<p:outputLabel
									value="#{clientTravelBean.selectedClientTravelCard.travelOffer.description}"
									style="width: 80%; margin: 0 auto;" />
							</p:column>
						</p:row>
					</p:panelGrid>
					<div style="margin-top: 50px;"></div>
					<p:outputLabel value="Osoba rezerwująca" style="font-size:1.5em;" />
					<travel:personDetails
						person="#{clientTravelBean.selectedClientTravelCard.clientAccount.clientData}"></travel:personDetails>
					<!-- Travel accompanying persons -->
					<ui:repeat var="person" varStatus="position"
						value="#{clientTravelBean.selectedClientTravelCard.accompanyingPersons}">
						<p:outputLabel value="Uczestnik wycieczki #{position.index+1}"
							style="font-size:1.5em;" />
						<travel:personDetails person="#{person}" />
					</ui:repeat>

					<p:panelGrid id="review" styleClass="center transparent  "
						style="width:100%;">
						<p:row>
							<p:column colspan="1" style="font-style: italic;padding:1em 10%;">
								<p:outputLabel value="Opinia użytkownika"
									style="font-size: 1.5em;" />
								<br />
								<br />
								<p:inputText value="#{clientTravelBean.rewiewTitle}"
									style="margin-right:100px;"
									readonly="#{not empty clientTravelBean.selectedClientTravelCard.clientReview}" />
								<p:commandButton value="Dodaj Opinie"
									disabled="#{not empty clientTravelBean.selectedClientTravelCard.clientReview}"
									action="#{clientTravelBean.addReview()}" update="review" />
								<br />
								<br />
								<p:rating value="#{clientTravelBean.reviewRatng}" stars="5"
									cancel="false"
									readonly="#{not empty clientTravelBean.selectedClientTravelCard.clientReview}" />
								<br />
								<p:inputTextarea value="#{clientTravelBean.rewiewContent}"
									readonly="#{not empty clientTravelBean.selectedClientTravelCard.clientReview}"
									cols="50" rows="20" />
							</p:column>
						</p:row>
					</p:panelGrid>
					<div style="margin-top: 50px;"></div>
				</ui:fragment>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>